* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
